.THIS .slds-media__figure.header-icon{
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-image: url('/resource/et4ae5__JB_icon');    
    background-repeat: no-repeat;
    background-color: #EB8C2F;    
    background-position: center;
    background-origin: content-box;
    padding: 3px;
    margin-right: .75rem;
}