.THIS {
    font-size: medium!Important;    
}

.THIS td {
    font: 100% / 1.5 "Salesforce Sans", Arial, sans-serif!Important;
    color: #16325c!Important;
}

.THIS th {
    font-size: medium!Important;
}