.THIS .slds-modal__container{
    width : 55%;
    max-width: 100%;
}

.THIS .slds-modal__content{
    max-height: 30rem;
}

.THIS .slds-spinner_container{    
    position : static;    
}

.THIS .slds-notify_container{
    position: relative;
    text-align: left;
}

.THIS .slds-notify_container .slds-notify{
    display: block;
    color: rgb(255, 255, 255);    
}

.THIS .slds-notify_container .slds-notify:nth-child(2){    
    background-color: transparent;
    color: #F7A700;
}

.THIS .slds-modal__footer .slds-button{
    margin-left: 1rem;
}